/* Global layout setup */
body{
    background-color: rgb(224, 170, 170);
}

h1{
    color: maroon;
}


/* Main image styles */

.main-img{
    border: solid black 5px;
    border-radius: 50%;
    transition: transform .2s;
}

.main-img:hover{
    transform: scale(1.2);
}


/* Content align to middle of the page */
.content {
    text-align:center;
    background-size: cover;
    overflow: hidden;
    padding-top: 60px;
    width: auto;
    max-width: 50%;
    margin: auto;
    background: rgb(224, 177, 177);
    padding: 10px;
  }


/* Section styles */

.nav{
    max-width: 50%;
    margin: auto;
    display:block;
    text-align: left;

  }

.skills{
    max-width: 50%;
    margin: auto;
    padding-left: 10px;
    display:contents;
  }


